/crates/compiler/src/parser/generated/*.rs linguist-generated=true
/crates/compiler/src/parser/generated/*.interp linguist-generated=true
/crates/compiler/src/parser/generated/*.tokens linguist-generated=true
