/crates/compiler/src/parser/generated/*.rs linguist-generated=true
/crates/compiler/src/parser/generated/*.interp linguist-generated=true
/crates/compiler/src/parser/generated/*.tokens linguist-generated=true
/crates/core/src/generated/yarn.rs linguist-generated=true
/crates/runtime/src/pluralization/icu/**/* linguist-generated=true
.idea/**/* linguist-generated=true
Cargo.lock linguist-generated=true
